body{
  background-color: #E4F9F5;
}

  hr{
    border-style: dotted;
    border-color: white;

  }
  h1{
    color: blue;
  }
  h3{
    color: blue;
  }
  /*.nitin{
    background-color: purple;
  }
*/
